@CHARSET "UTF-8";

/*헤더 푸터를 제외한 서브페이지의 레이아웃 등 전체적인 스타일*/
.wrap{display:inline-block; }

/*서브페이지 전체 레이아웃*/
.sub_container{ position:relative; width:100%; min-height:100%; margin:30px 0; padding:130px 50px 100px 220px; display:inline-block; z-index:1;  background:url(../img/main/mainbg03.jpg) no-repeat center center;  background-size: auto 100% ; background-attachment:fixed; font-family:'Nanum Square','나눔스퀘어','Nanum Barun Gothic','나눔바른고딕', NanumGothic,'나눔고딕'; }
.log_container{ position:relative; width:100%; min-height:100%; margin:30px 0; padding:130px 50px 100px 220px; display:inline-block; z-index:1; background:url(../img/main/Elegant_Background-6.jpg) no-repeat center center;  background-size: auto 100% ; background-attachment:fixed; font-family:'Nanum Square','나눔스퀘어','Nanum Barun Gothic','나눔바른고딕', NanumGothic,'나눔고딕'; }
.subContent{ width:100%;  display:inline-block; padding:30px; background:#fff; text-align:left; }
.subContent.nobg{background:rgba(255,255,255,0)}

/*레이어*/
.modal_bg{ position:fixed; top:0; left:0; height:100%; width:100%; display:block; opacity:0; z-index:9999; background:rgba(0,0,0,0.8); overflow:visible; }
.modal_bg.off{display:none;} 
.modal_area { position:fixed; display:block; background:#fff; }
.modal_area h1{ position:relative; z-index:90; position:absolute; top:0; right:0; width:100%; min-height:50px;line-height:20px; display:block; padding:15px 80px 15px 25px;  text-align:left; overflow:hidden; background:rgba(15,15,15,1); white-space:normal; text-overflow:ellipsis; ; color:#fff; font-weight:500;  }
.modal_area h1 > span{position:absolute; top:0; right:0px; display:block; height:50px; width:50px; line-height:50px; text-align:center; color:#fff; font-size:25px; cursor:pointer; }
.modal_area h1 > .btn_close{ position:absolute; width:50px; height:50px; top:0px; right:0px; display:block; text-indent:-9999px;  background: url(../img/btn/btn_Lclose_white.gif) no-repeat center center ;}
.modal_bg .layer_content {  width:100%; height:100% ; padding-top:50px; z-index:10; background:#fff; color:#454545; }
.modal_bg .layer_content h2{ line-height:30px; } 
.modal_bg .layer_content .txtred { color:#d00; }

/*레이어스타일*/
.modal_bg .layer_content.style_corfrim form{ padding:20px;}
.modal_btn_area{ margin:20px auto 0px auto; display:inline-block;}
.modal_btn_area input[type="submit"],
.modal_btn_area input[type="reset"],
.modal_btn_area input[type="button"]{ margin:0 5px; display:block; float:left; padding:0 50px; height:45px; line-height:45px; cursor:pointer; }
.modal_btn_area input[type="submit"]{ background:#232323; color:#fff; line-height:43px; }
.modal_btn_area input[type="button"].btn_w{ border:1px solid #232323; background:#fff; color:#454545; }
.modal_btn_area input[type="button"].btn_b{ background:#232323; color:#fff; line-height:43px; }
.modal_btn_area input[type="reset"]{ border:1px solid #232323; background:#fff; color:#454545; }

/*레이어사이즈*/
.modal_area.google_map{ top:20%; left:20%; width:60%; height:60%; min-width:400px; min-height:200px; }
.modal_area.size_medium{ top:20%; left:35%; width:30%; height:45%; min-width:400px; min-height:320px; }
.modal_area.size_small{ top:20%; left:35%; width:30%; height:30%; min-width:400px; min-height:200px; }
.modal_area.alertpage{ top:20%; left:35%; width:30%; height:40%; min-width:400px; min-height:300px; }
.modal_area.alertpage .message{ font-size:17px; width:100%; height:50px; margin-top:40px; text-align:center; color:#d00;  display:inline-block; }
.goomap{ width:100%; height:100%; display:block; }

.rsltRecipe { margin-top:20px; width:100%; }
.rsltRecipe p{ width:100%; height:40px; line-height:40px; }
.rsltRecipe p input[type=text]{ width:280px; padding:0 10px; }

.layer_content .select_meal_time{ height:40px; line-height:40px; }
.layer_content .select_meal_time input[type=radio] { margin:0 3px; cursor:pointer; }
.layer_content .select_meal_time label { margin:0 15px 0 5px; cursor:pointer; }
.layer_content .total_calory{ height:30px; width:80px; padding:0 5px; text-align:center; margin-right:5px; border:1px solid #a0a0a0; background:#f0f0f0; font-weight:600;  color:#d00; }

.layer_content .quantity{ clear:both; height:30px; width:60px; padding:0 5px; text-align:center; margin-right:10px; border:1px solid #a0a0a0; background:#fff; color:#d00; }
.layer_content .txt_rslt{ font-size:13px; padding-top:20px; border-top:1px solid #a0a0a0; }
.layer_content .smalltip{ margin-top:10px; height:30px; display:block; color:#787878; font-weight:400; font-size:11px; clear:both; }

/*사이드메뉴*/
nav.snb{ position:fixed; top:130px; left:20px; float:left; width:180px; height:100%; display:block; text-align:left; }
nav.snb h2.subtit { margin:20px 0 30px 0; padding-bottom:20px; border-bottom:1px solid #fff; text-align:center; color:#fff; font-weight:500; font-size:17px; letter-spacing:0; }
nav.snb > ul{ margin:0 auto; display:inline-block; width:100%; }
nav.snb > ul > li{ margin-bottom:1px; clear:both; display:innline-block; min-height:50px; width:100%; line-height:50px; }
nav.snb > ul > li > a{ clear:both; display:block; text-decoration:none !important; padding-left:30px; background:#232323; color:#fff; font-size:14px; font-weight:500; } 

nav.snb > ul > li > ul {  width:100%; clear:both; display:none;} 
nav.snb > ul > li > ul > li{ clear:both; height:40px; width:100%; line-height:40px; background:rgba(0,0,0,0.5);  }
nav.snb > ul > li > ul > li a{ display:block; height:100%; width:100%; padding-left:30px; text-decoration:none; font-size:13px; color:#fff; }
nav.snb > ul > li > ul > li a:before{ content:''; }
nav.snb > ul > li > ul > li:hover {  background:rgba(0,0,0,0.9); }

.side_myinfo {position:fixed; top:130px; left:20px; float:left; width:180px; height:75%; display:block; text-align:center; padding:20px; background:#000; color:#fff; }
.side_myinfo dl dt{ clear:both; display:block; width:100%; height:25px; margin:10px 0 20px 0; line-height:25px; font-weight:500;text-align:center; font-size:20px; }
.side_myinfo dl dd{ text-align:center; display:block; width:100%; min-height:45px; height:auto;  margin-bottom:8px; font-size:12px; font-weight:400; color:#c0c0c0; line-height:18px; font-weight:500; }
.side_myinfo dl dd strong{ width:100%; clear:both; display:block; height:25px; font-size:15px;/*  padding-left:15px; background:url(../img/bull/bull_mandor.gif) no-repeat 0 0; background-size:10px;   */ } 
.side_myinfo dl dd span{ margin-top:3px;  }
.side_myinfo dl dd.goalweight{ padding-left:50px; line-height:25px; min-height:30px;  font-size:17px; background-image:url(../img/sub/scales.png); background-size:18px; background-repeat:no-repeat; background-position:35px 0;  }

.side_myinfo dl dd.photozone{ position:relative; width:80px; height:80px; margin:10px 30px 20px 30px; display:block; overflow:hidden; border-radius:60px; border:1px solid #fff; background:#fff; }
.side_myinfo dl dd.photozone input[type=file]{ position:absolute; top:0; left:0; width:100%; height:100%; display:block; cursor:pointer; }
.side_myinfo dl dd.photozone img{ width:100px; height:auto; } 
.side_myinfo dl dd.goalzone{ position:relative; }
.side_myinfo dl dd .txtgoal{ padding-right:20px; width:100%; height:30px; line-height:30px; font-family:'Nanum Pen Script'; background:none; font-size:19px; border:none; }
.side_myinfo dl dd .btn_goal_edit{ position:absolute; top:5px; right:0; width:20px; height:20px; display:block; background:url(../img/bull/bull_pen.png) no-repeat center; cursor:pointer; }

.side_myinfo form{ height:100%; }
.side_myinfo input[type=submit] {position:fixed; bottom:0; left:0; width:100%; height:50px; background:#fff; }
.info_list{ margin:10px 0 0 25px; display:inline-block; }
.info_list a{ width:100%; padding-left:30px; float:left; height:25px; line-height:25px; display:block; color:#ccc; text-align:left; font-weight:400; background-repeat:no-repeat; background-size:15px; background-position:left center;  }
.info_list a:nth-child(1) { background-image:url(../img/ic/ic_like_w.png);   }
.info_list a:nth-child(2) { background-image:url(../img/ic/ic_chart3_w.png); }
.info_list a:nth-child(3) { background-image:url(../img/ic/ic_chart2_w.png); }
.info_list a:nth-child(4) { background-image:url(../img/ic/ic_chart_w.png);  }

.subContent h3{ width:100%; clear:both; padding:0px 20px 20px 10px; border-bottom:1px solid #000; color:#232323; font-size:30px; font-weight:500; text-align:left; break-word:keep-all; }
.subContent h4{ width:100%; clear:both; margin:10px 0; padding:5px; color:#787878; font-size:17px; font-weight:500; text-align:left; break-word:keep-all; color:#454545; }
 
.side_myinfo dl dd.goalzone{ position:relative; }
.side_myinfo dl dd .txtgoal{ padding-right:20px; width:100%; height:30px; line-height:30px; font-family:'Nanum Pen Script'; background:none; font-size:19px; border:none; }
.side_myinfo dl dd .btn_goal_edit{ position:absolute; top:5px; right:0; width:20px; height:20px; display:block; background:url(../img/bull/bull_pen.png) no-repeat center; cursor:pointer; }
 
.fotgoal{ border:1px solid #0f0; margin-top:20px; display:inline-block; }
.fotgoal input[type="text"]{ padding-right:20px; width:100%; height:30px; line-height:30px; font-family:'Nanum Pen Script'; background:none; font-size:19px; border:none; }
.fotgoal input[type="button"]{ position:absolute; top:5px; right:0; width:20px; height:20px; display:block; background:url(../img/bull/bull_pen.png) no-repeat center; cursor:pointer; }
 
 /***** 체중계 *****/
.cal_diet{ position:relative; width:100%; height:auto; margin:20px auto; display:block; height:650px; background:url(../img/main/gymbg.jpg) no-repeat center 0;  background-size:120% auto;  font-family:'Nanum Square','나눔스퀘어','Nanum Barun Gothic','나눔바른고딕', NanumGothic,'나눔고딕';  }
.cal_diet .w { margin:0 auto; width:500px; height:650px; padding-top:30px; display:block;  background-image:url(../img/cal/scale.png); background-repeat:no-repeat;  background-position:center center ; text-align: center; }
.cal_diet .w > p {position: absolute; top:135px; left:0; width:100%; margin:0 auto; }
.cal_diet .w > p .goal_weight { font-family:'Nanum Pen Script'; font-size:60px; background-color:rgba(0,0,0,0.5);	border-radius:50px;  text-align:center; color:white; margin-left:40px; width:135px; height:75px; line-height:75px; }
.cal_diet .w > p .goal_weight:focus{ background-color:rgba(0,0,0,0.8); }
.cal_diet #w1{ font-size:30px; }

.group > ul {  display:inline-block; margin-top:200px; font-family:'Nanum Square','나눔스퀘어','Nanum Barun Gothic','나눔바른고딕', NanumGothic,'나눔고딕'; }
.group > ul > li {  clear:both; float:left;  margin-bottom:15px; display:inline-block; text-align:center; width:100%; }
.group > ul > li:nth-child(1) > *:not(span) { cursor:pointer; }
.group > ul > li:nth-child(1) img { float:left; height:25px; line-height:25px; }
.group > ul > li:nth-child(1) > input[type=radio] { margin: 0 10px 0 10px;  float:left; height:25px; line-height:25px}
.group > ul > li:nth-child(2) > p > * { margin-right:5px; font-size:13px; height:25px; line-height:25px; margin-bottom:5px;  } 
.group > ul > li > ol{ margin:0 auto;  display:inline-block; }  
.group > ul > li > ol > li{ clear:both; float:left; text-align:left; height:25px; line-height:25px; font-size:13px;}
.group > ul > li > ol > li > *{float:left; display:block; height:25px; line-height:25px; vertical-align:middle; cursor:pointer; }
.group > ul > li > ol > li, .group > ul > li > ol > li input[type=radio]{ margin-right:8px; }
.group > ul > li:nth-child(2) strong{ width:60px; border:1px solid #232323; display:block; float:left; }
.group > ul > li:nth-child(2) input[type=text]{ width:50px !important; text-align:center; }

.cal_diet .result{ float:left; width:400px; display:none; } 
.cal_diet_button{ width:80px; padding:25px 10px; clear:both; margin-left:450px; display:block; height:80px; line-height:23px; font-size:15px; background:rgba(190,35,25,1); color:#fff; font-weight:400; border-radius:40px; }
.cal_diet_button:hover{ background:rgba(220,20,20,1);  }

.cal_content{ position:relative; width:100%; height:auto; margin:20px auto; display:inline-block;  background:url(../img/main/gymbg.jpg) no-repeat center center;  background-size:130% auto;  font-family:'Nanum Square','나눔스퀘어','Nanum Barun Gothic','나눔바른고딕', NanumGothic,'나눔고딕'; 	}
.cal_content .cal_contentarea { position:relative; margin:0 auto; width:100%; padding:30px; display:block; text-align:center; }
.cal_contentarea .group2 {  clear:both; margin:0 auto 50px auto; display:block; width:300px; height:300px;   }
.cal_contentarea .bring_type {   width:700px;  clear:both; margin:0 auto; background:rgba(255,255,255,0.8); padding:30px;    }
.group2{  background-image:url(../img/cal/scale.png); background-repeat:no-repeat;  background-position:center center; background-size:auto 100%; text-align: center; width:300px; height:400px; display:inline-block; padding:50px; }
.group2 > ul {  display:inline-block; margin-top:60px; font-family:'Nanum Square','나눔스퀘어','Nanum Barun Gothic','나눔바른고딕', NanumGothic,'나눔고딕'; }
.group2 > ul > li {  clear:both; float:left;  margin-bottom:15px; display:inline-block; text-align:center; width:100%; }
.group2 > ul > li:nth-child(1) > *:not(span) { cursor:pointer; }
.group2 > ul > li:nth-child(1) img { float:left; height:25px; line-height:25px; }
.group2 > ul > li:nth-child(1) > input[type=radio] { margin: 0 10px 0 10px;  float:left; height:25px; line-height:25px}
.group2 > ul > li:nth-child(2) > p > * { margin-right:5px; font-size:13px; height:25px; line-height:25px; margin-bottom:5px;  } 
.group2 > ul > li > ol{ margin:0 auto;  display:inline-block; }  
.group2 > ul > li > ol > li{ clear:both; float:left; text-align:left; height:25px; line-height:25px; font-size:13px;}
.group2 > ul > li > ol > li > *{float:left; display:block; height:25px; line-height:25px; vertical-align:middle; cursor:pointer; }
.group2 > ul > li > ol > li, .group > ul > li > ol > li input[type=radio]{ margin-right:8px; }
.group2 > ul > li:nth-child(2) strong{ width:60px; border:1px solid #232323; display:block; float:left; }
.group2 > ul > li:nth-child(2) input[type=text]{ width:50px !important; text-align:center; }

.bring_type { clear:both; margin-top:100px; font-size:13px; text-align:center; }
.bring_type .stip {/*  background:url(../img/bull/bull_mandor.gif) no-repeat 0 0; padding-left:20px;  */margin-bottom:20px; font-size:15px; letter-spacing:-1px; color:rgba(190,35,25,1); text-align:center; }
.btn_list { margin:0 auto; display:inline-block; clear:both; }
.btn_list input[type=button]{ float:left; margin:0 10px 10px 0; display:block; padding:0 15px;  height:35px; line-height:35px; border-radius:5px; border:1px solid rgba(190,35,25,1); color:rgba(190,35,25,1); background:transparent; }

.rsltbox{ margin-top:20px; display:inline-block; width:100%; margin-top:20px; clear:both; }
.rsltbox p{ display:inline-block; margin:10px auto; }
.bring_type #kcalbutton{ float:left; display:block; }
.bring_type #kcalbox{ float:left; display:block; }
.bring_type #timevalue{  font-size:17px; font-weight:500px; clear:both; display:block; height:30px; }	
.bring_type #timevalue strong{ padding-left:20px; background:url(../img/bull/bull_mandor.gif) no-repeat 0 0 ;}
.rsltbox input[type=text]{ margin-left:10px; width:60px; height:30px; line-height:30px; text-align:center; }
.rsltbox input[type=button]{ width:40px; height:30px; line-height:30px; }
.btn_list input[type=button].on{ background:rgba(190,35,25,0.5); color:#fff; } 
#kcalbox_area > *{ float:left; height:30px; line-height:30px; }
#kcalbox_area > input[type=button]{background:rgba(190,35,25,1); color:#fff; }
#timevalue{ clear:both; margin-top:20px;  }
#timevalue input[type=text]{ margin-left:0px; border:none; background:none; }
#erc_nm_loc{ padding:20px;  margin-top:0px; }
#erc_nm_loc .btn_list { padding-top:60px; background:url(../img/comm/nextbg.png) no-repeat center top; background-size:40px; }
#erc_nm_loc .nolist { font-size:13px; color:#787878; text-align:center;   }